<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat Log</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <p id="log"></p>
        <script>
            import {cbcontroller} from "../controllers/chatBotController.js";
            var text = "";
            for (i = 0; i < cbcontroller.chatLog; i++) {
                text = text + i.toString() + ". " + cbcontroller.chatLog[i] + "<br>";
            }
            document.getElementById("log").innerHTML = text;
        </script>
    </body>
</html>